<ion-view>

  <ion-header-bar class="bar-stable">
    <h1 class="title">Welcome {{user.first_name}} {{user.last_name}}!</h1>
  </ion-header-bar>
  <ion-content>

    <div class="row">
      <div class="col col-33 col-offset-33">
        <a class="col button button-balanced" ng-click="sync()">Sync with VK</a>
      </div>
    </div>

    <div class="row" ng-show="INTERVAL">
      <div class="col col-33 col-offset-33">
        <a class="col button button-assertive" ng-click="stop()">STOP</a>
      </div>
    </div>

    <div ng-show="audioTracks.length > 0">
      <p>You have <strong>{{audioTracks.length}}</strong> audio tracks</p>
      <ul class="list">
        <li class="item" ng-repeat="item in audioTracks | orderBy: 'artist'">
          {{item.artist}} - {{item.title}}
        </li>
      </ul>
    </div>

  </ion-content>

</ion-view>
